*
{
    margin: 0;
    padding: 0;
}
/*-------For Navigation-------*/
#nav-bar
{
    position: sticky;
    top: 0;
    z-index: 10;

}
.navbar-brand img
{
    height: 40px;
    padding-left: 20px;
}
.navbar_nav li
{
    padding: 0 10px;
}
.navbar-nav li a
{
    float: right;
    text-align: left;
}
#nav-bar ul li a:hover
{
    color: #007bff!important;
    
}
.navbar
{
    background: #fff;
}
.navbar-toggler
{
    border: none!important;
}
.nav-link
{
    color: #555!important;
    font-weight: 600;
    font-size: 16px;
}
/*--------About Surround------*/
#about
{
    padding-top: 50px;
    padding-bottom: 50px;
    color: #555;
}
.about-content
{
    padding-top: 20px;
}
/*-------Surround services-----*/
#services
{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(img/managed-services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
}
#services h1
{
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
}
#services h1::after
{
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
.services
{
    margin-top: 40px;
}
.icon
{
    font-size: 40px;
    margin: 20px auto;
    padding: 20px;
    height: 80px;
    width: 80px;
    border: 1px solid #fff;
    border-radius: 50%;
}
#services p
{
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

/*-----Footer------*/
.tile_div a 
{
    display: block;
    float: left;
    height: 50px;
    width: 250px;
    margin-right: 5px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
}

.title_div a.last 
{
    margin-right: 0;
}

.clear 
{
    clear: both;
}
.footer-bottom
{
    text-align: center;
}
